body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin-bottom: 30px;
  line-height: 2;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 2;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 20px 10px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

p {
  line-height: 2;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 8px;
  width: 6%;
  margin: 100px auto;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 90px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  margin-top: 50px;
  padding: 30px;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.monitor-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.api-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.top-cloud {
  position: absolute;
  right: 280px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px
}

.profile-pic {
  border-radius: 50%;
}

.btn {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF !important;
  font-size: 19px;
  text-decoration: none;
  padding: 14px 40px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: #63B8EE;
  background: linear-gradient(top, #11CDD4, #11999e);
  background: -ms-linear-gradient(top, #11CDD4, #11999e);
  background: -webkit-gradient(linear, left top, left bottom, from(#11CDD4), to(#11999e));
  background: -moz-linear-gradient(top, #11CDD4, #11999e);
}

.btn:hover {
  color: #FFFFFF !important;
  background: #30E3CB;
  background: linear-gradient(top, #30E3CB, #2BC4AD);
  background: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background: -webkit-gradient(linear, left top, left bottom, from(#30E3CB), to(#2BC4AD));
  background: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
}
